<div class="main">
	<div class="content">
		<div class="section group">
			<div class="grid_1_of_3 images_1_of_3">
				<img src="/../assets/img/delivery-img1.jpg" alt="" />
				<h3>Lorem Ipsum is simply dummy text </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
					eu fugiat nulla pariatur.</p>
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<img src="/../assets/img/delivery-img2.jpg" alt="" />
				<h3>Lorem Ipsum is simply dummy text </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
					eu fugiat nulla pariatur.</p>
			</div>
			<div class="grid_1_of_3 images_1_of_3">
				<img src="/../assets/img/delivery-img3.jpg" alt="" />
				<h3>Lorem Ipsum is simply dummy text </h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
					et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
					eu fugiat nulla pariatur.</p>
			</div>
		</div>
		<div class="faqs">
			<h2>Frequently Asked Questions</h2>
			<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" #acc="ngbAccordion" activeIds="ngb-panel-0"
				id="posts">
				<ngb-panel title="1.What is Lorem Ipsum?" class="post-title">
					<ng-template ngbPanelContent class="panel margin-lr-7">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
					</ng-template>
				</ngb-panel>
				<ngb-panel title="2.What is Lorem Ipsum Lorem Ipsum has been the industry's standard dummy
				text?" class="post-title">
					<ng-template ngbPanelContent class="panel margin-lr-7">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
					</ng-template>
				</ngb-panel>
				<ngb-panel title="3.What is Lorem Ipsum Lorem Ipsum has been the industry's?" class="post-title">
					<ng-template ngbPanelContent class="panel margin-lr-7">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
					</ng-template>
				</ngb-panel>
				<ngb-panel title="4.What is Lorem Ipsum dummy text of the printing?" class="post-title">
					<ng-template ngbPanelContent class="panel margin-lr-7">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
					</ng-template>
				</ngb-panel>
				<ngb-panel title="5.What is Lorem Ipsum printing and typesetting industry?" class="post-title">
					<ng-template ngbPanelContent class="panel margin-lr-7">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
					</ng-template>
				</ngb-panel>
				<ngb-panel title="6.What is Lorem Ipsum text of the printing?" class="post-title">
					<ng-template ngbPanelContent class="panel margin-lr-7">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
							been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
							galley of type and scrambled it to make a type specimen book. It has survived not only five
							centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
							It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
							passages, and more recently with desktop publishing software like Aldus PageMaker including
							versions of Lorem Ipsum.</p>
					</ng-template>
				</ngb-panel>				
			</ngb-accordion>
		</div>
	</div>
</div>